*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 970px;
	margin:	10px auto;
	outline: 1px solid rgb(128,128,128);
	font-family: Helvetica, sans-serif;
}

/* Start All Products Page Styles */

.navbar{
	outline: 1px solid rgb(128,0,128);
	min-height: 45px;
	line-height: 45px;
	background-color: rgb(51,51,51);
	color: rgb(255,255,255);
	padding: 0px 15px;
}
.alignleft{
	float: left;
}
.alignright{
	float: right;
}

.leftnav{
	margin-top: 10px;
	display: inline-block;
	outline: 1px solid rgb(128,0,0);
	vertical-align: top;
	width: 230px;
	min-height: 300px;
}

.leftnav .search input{
	padding: 5px;
}

.leftnav .categories{
	margin-top: 15px;
	padding-left: 10px;
}

.leftnav .categories p{
	padding-left: 20px;
	padding-top: 10px;
}

.products{
	margin-top: 10px;
	display: inline-block;
	outline: 1px solid rgb(0,128,0);
	width: 725px;
}
.products .header{
	height: 50px;
	outline: 1px solid rgb(128,128,0);
}

.products .images{
	min-height: 425px;
}

.products .images .image{
	width: 125px;
	height: 125px;
	outline: 1px solid rgb(51,51,51);
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.footernav{
	height: 50px;
	outline: 1px solid rgb(0,0,0);
	vertical-align: bottom;
}

/* End All Products Page Styles */

/* Start Product Page Styles */

.leftheader{
	outline: 1px solid rgb(255,0,0);
	margin-top: 10px;
	padding-left: 10px;
	min-height: 50px;
	vertical-align: top;

}
.leftimg{
	outline: 1px solid rgb(255,0,0);
	margin-top: 10px;
	margin-right: 25px;
	padding-left: 10px;
	display: inline-block;
	width: 275px;
	min-height: 300px;
	vertical-align: top;
}
.leftimg h2{
	padding-top: 15px;
}

.leftimg img#mainImg{
	width: 270px;
	height: 270px;
}

.leftimg .otherViews{
	outline: 1px solid rgb(0,255,0);
	display: inline-block;
	width: 270px;
	height: 75px;
}

.leftimg .otherViews .item{
	width: 100px;
	height: 100px;
}

.description{
	outline: 1px solid rgb(0,0,255);
	margin-top: 10px;
	padding-left: 10px;
	display: inline-block;
	width: 635px;
}

.description form{
	margin-top: 15px;
}
.description form input{
	padding: 5px;
	float: right;
	clear: both;
}

.similarItems{
	outline: 1px solid rgb(0,0,0);
	width: 875px;
	margin: 20px auto;
}
.similarItems .item{
	outline: 1px solid rgb(255,255,0);
	display: inline-block;
	margin-left: 15px;
	width: 125px;
	height: 125px;
}

/* End Product Page Styles */

/* Start Order Page Styles */

	.order{
		outline: 1px solid rgb(0,0,0);
		width: 900px;
		min-height: 275px;
		margin: 10px auto;
	}
	.order table td:nth-child(1){
		width: 15%;
	}
	.order table td:nth-child(2){
		width: 15%;
	}
	.order table td:nth-child(3){
		width: 40%;
	}
	.order table td:nth-child(4){
		width: 20%;
	}
	.order table td{
		padding: 5px;
	}
	.order p{
		padding: 10px;
	}

	.customer_info{
		margin-left: 4%;
	}

	.customer_info h3{
		padding-top: 10px;
	}
	.customer_info form input{
		margin-top: 10px;
		padding: 5px;
	}

	.customer_info form{
		display: table;
	}
	.customer_info form label.space{
		padding-right: 70px;
	}
	.customer_info form p{
		display: table-row;
	}
	.customer_info form label{
		display: table-cell;
		font-weight: bold;
	}
	.customer_info form input[type="text"]{
		margin: 5px;
		padding: 5px;
	}
	.customer_info form input{
		display: table-cell;
		margin: 5px;
		padding: 5px;
	}


/* End Order Page Styles */
